body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #191c21;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  /* float: right; */
  margin: 10px;
}

ul li a {
  color: #ececee;
  font-size: 1rem;
  padding: 7px;
  transition: border-color 0.5s;
  border: 2px solid transparent;
}

ul li a:hover {
  color: #ececee;
  border: 2px solid #39b2ab;
  border-radius: 5px;
}

#Logo h1 {
  color: #39b2ab;
  width: 60px;
  height: 50px;
  font-size: 1.8rem;
}

#button button {
  background-color: #39b2ab;
  color: #ececee;
  transition: all 0.5s;
  border: 2px solid transparent;
  outline: transparent;
}

#button button:hover {
  background-color: transparent;
  color: #39b2ab;
  border: 2px solid #39b2ab;
  outline: transparent;
}

#box1-container {
  background-color: #39b2ab;
  height: 200px;
  border-radius: 2px;
  transition: all 0.5s;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#box1-container:hover {
  transform: scale(1.07);
}

#box1-container h4 {
  color: #ececee;
  font-size: 1.8rem;
}

.social {
  color: #6e7887;
}

.social:hover {
  color: #39b2ab;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.footer p {
  color: #39b2ab;
}
